header{
    text-align: center;
}

section img{
    max-width: 100%;
}

.center{
    margin: 0 auto 0 auto;
    width: 50%;
}

ul{
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
}

li{
    float: left;
    margin-right: 1%;
    width: 24%;
}

img.thumb{
    height: 100px;
    width: 100px;
}
